################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Oppgave1/.vs/Oppgave1/FileContentIndex/7cdb3c2d-0bed-48c0-afc5-1a65b8ddeedd.vsidx
