################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Oppgave1/.vs/Oppgave1/FileContentIndex/37bcd38a-4b3c-47ec-b6fe-0b19a595aafc.vsidx
