/* ------1. Layout / containers---------*/
.navbar-offset {
    padding-top: 100px;
}


.auth-page {
    min-height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}


/* ------2. Card / panel styling---------*/
.auth-card {
    width: 100%;
    max-width: 1200px;
    min-width: 700px;
    padding: 30px 40px;
    border-radius: 16px;
    background: rgba(210,235,230,0.85);
    backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.6);
    box-shadow: 0 10px 30px rgba(0,0,0,0.12);
    transform: 
        translateX(-50%), 
        translateY(-50%);
    margin-right: auto;
    margin-top: 8vh;

}


/* ------3. Form fields_ input and select---------*/
.auth-card input,
.auth-card select {
    margin-top: 0px;
    margin-bottom: 4px;
    padding: 10px 12px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
}

.auth-card label.form-label {
    margin-bottom: 2px;
}

.auth-card input:focus,
.auth-card select:focus {
    border-color: #9fb9ff;
    box-shadow: 0 0 0 3px rgba(79,135,255,0.15);
    outline: none;
}

.input-group-text {
    padding: 0 12px;
    display: flex;
    align-items: center;
    border-radius: 0 8px 8px 0;
    height: calc(1.5em + 2*10px);
    font-size: 1rem;
}

.input-group-text i {
    display: block;
    margin: 0 auto;
}


/* ------4. Buttons---------*/
.btn-auth-primary,
.btn-auth-secondary {
    width: auto;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    font-weight: 600;
}

.btn-auth-primary {
    background-color: #009c59;
    color: white;
    transition: background 0.3s, transform 0.2s, box-shadow 0.2s;
}

.btn-auth-primary:disabled {
    background-color: #c8e0d8;
    cursor: not-allowed;
    opacity: 0.6;
}

.btn-auth-primary:not(:disabled):hover {
    background-color: #007a46; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}


.btn-auth-secondary:hover {
    background: #5a6268;
}


/* ------5. Typography---------*/
.auth-card h1 {
    margin-bottom: 12px !important;
}

.auth-card p {
    margin-bottom: 8px !important;
}


/* ------6. Form row adjustments---------*/
.row.g-3 {
    row-gap: 5px;
}


/* ------7. Password requirements styling---------*/
#passwordRequirements {
    padding: 8px 10px !important;
    font-size: 0.78rem !important;
}
#passwordRequirements ul {
    padding-left: 18px;
}
#passwordRequirements li {
    margin-bottom: 2px;
}

#passwordRequirements .text-success {
    color: green;
}

#passwordRequirements .text-muted {
    color: #999;
}
