.admin-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border-radius: 12px;
}

.admin-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2) !important;
}

.admin-card .card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.admin-card .card-body i {
    font-size: 2.5em;
}

#obstacleTable th {
    user-select: none;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
