* {
    font-family: 'Segoe UI';
}

p {
    font-size: 18px;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#map {
    height: 100vh;
    width: 100%;
}

.leaflet-control-zoom {
    display: none;
}

span {
    z-index: 1000;
}

section {
    display: none;
}

form {
    background-color: white;
    padding: 25px 35px;
    border-radius: 12px;
    width: 20%;
    margin-left: 40%;
    margin-right: auto;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
    color: #333;
}

input, textarea {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    text-align: center;
}

#btnSubmit {
    border: 2px solid black;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 20px;
    padding: 5px 10px;
    background-color: #57e13d;
}

* {
  box-sizing: border-box;
}

html {
  user-select: none;
  overflow: hidden;
}
html body {
  background-color: #222;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  padding: 0;
  margin: 0;
}

h1 {
  position: absolute;
  top: 30%;
  color: rgba(255, 255, 255, 0.3);
  padding: 0 1rem;
  text-align: center;
  width: 100%;
}

.wheel {
  --x: 0px;
  --y: 0px;
  --icon-radius: -40px;
  position: absolute;
  top: var(--y);
  left: var(--x);
  width: 500px;
  height: 500px;
  transform: translate(-50%, -50%);
  transform-origin: 0% 0%;
  z-index: 600;
}

.wheel.hidden {
    opacity: 0;
    pointer-events: none;
}

.wheel:not(.on) {
    pointer-events: none;
}

.wheel.on .arc {
  opacity: 0.8;
  transform: scale(1) rotate(var(--rotation)) !important;
  transition-timing-function: cubic-bezier(0, 0.5, 0.5, 1.5);
  pointer-events: auto;
}
.wheel .arc {
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
  background-image: radial-gradient(circle at 0% 100%, transparent, transparent 29.5%, var(--color-border) 30%, var(--color-border) 30.5%, var(--color) 31%, var(--color) 50%, var(--color-border) 50.25%, var(--color-border) 51.5%, transparent 51.75%, transparent);
  transition-property: transform, opacity;
  transition-duration: 0.3s;
  transition-timing-function: cubic-bezier(0.4, -0.4, 0.7, -0.3);
  clip-path: polygon(0% 100%, 100% 100%, 32.5% 0%);
  opacity: 0;
  transform: scale(0) rotate(var(--rotation));
  pointer-events: none;
  cursor: pointer;
}
.wheel .arc i {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(calc(var(--icon-radius) * 0.809), calc(var(--icon-radius) * -0.588)) rotate(calc(var(--rotation) * -1));
  color: rgba(255, 255, 255, 0.8);
  transition: color 0.3s;
}
.wheel[data-chosen="1"] .arc:nth-child(1) {
  opacity: 1;
  transform: scale(1.1) rotate(var(--rotation)) !important;
  filter: brightness(150%);
}
.wheel[data-chosen="1"] .arc:nth-child(1) img {
  color: rgba(0, 0, 0, 0.5);
}
.wheel .arc:nth-child(1) {
  --rotation: -18deg;
  --color: hsl(0deg, 36%, 60%);
  --color-border: hsl(0deg, 36%, 40%);
  transition-delay: 0.015s;
}
.wheel[data-chosen="2"] .arc:nth-child(2) {
  opacity: 1;
  transform: scale(1.1) rotate(var(--rotation)) !important;
  filter: brightness(150%);
}
.wheel[data-chosen="2"] .arc:nth-child(2) img {
  color: rgba(0, 0, 0, 0.5);
}
.wheel .arc:nth-child(2) {
  --rotation: 54deg;
  --color: hsl(72deg, 36%, 60%);
  --color-border: hsl(72deg, 36%, 40%);
  transition-delay: 0.03s;
}
.wheel[data-chosen="3"] .arc:nth-child(3) {
  opacity: 1;
  transform: scale(1.1) rotate(var(--rotation)) !important;
  filter: brightness(150%);
}
.wheel[data-chosen="3"] .arc:nth-child(3) img {
  color: rgba(0, 0, 0, 0.5);
}
.wheel .arc:nth-child(3) {
  --rotation: 126deg;
  --color: hsl(144deg, 36%, 60%);
  --color-border: hsl(144deg, 36%, 40%);
  transition-delay: 0.045s;
}
.wheel[data-chosen="4"] .arc:nth-child(4) {
  opacity: 1;
  transform: scale(1.1) rotate(var(--rotation)) !important;
  filter: brightness(150%);
}
.wheel[data-chosen="4"] .arc:nth-child(4) img {
  color: rgba(0, 0, 0, 0.5);
}
.wheel .arc:nth-child(4) {
  --rotation: 198deg;
  --color: hsl(216deg, 36%, 60%);
  --color-border: hsl(216deg, 36%, 40%);
  transition-delay: 0.06s;
}
.wheel[data-chosen="5"] .arc:nth-child(5) {
  opacity: 1;
  transform: scale(1.1) rotate(var(--rotation)) !important;
  filter: brightness(150%);
}
.wheel[data-chosen="5"] .arc:nth-child(5) img {
  color: rgba(0, 0, 0, 0.5);
}
.wheel .arc:nth-child(5) {
  --rotation: 270deg;
  --color: hsl(288deg, 36%, 60%);
  --color-border: hsl(288deg, 36%, 40%);
  transition-delay: 0.075s;
}/*# sourceMappingURL=style.css.map */