body {
    margin-top: 100px;
}

.card-element {
    height: auto;
}

.h-10 {
    height: 10%;
}

.h-15 {
    height: 15vh;
}

.h-20 {
    height: 20%;
}

.h-30 {
    height: 30%;
}

.h-90 {
    height: 90%;

}

.obstacle-column {
    width: 49.5%;
}

.left-col-card {
    height: 49%;
}

.btn-save-note {
    bottom: 5%;
}

