html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
    /* margin-bottom: 60px; */
    background-color: #FAF8F1;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.bg-detail {
    background-color: #34656D;
}


.inline-icon {
    font-size: 1.2rem;
    vertical-align: text-bottom;
}
/* --- Registrar UI tweaks --- */
.table .col-status {
    width: 140px;
}

.table .col-actions {
    width: 90px;
}

.badge.rounded-pill {
    font-weight: 600;
}

/* Back to List link styling */
.back-link {
    color: #212529;
    transition: color 0.1s ease-in-out;
}

    .back-link:hover {
        color: #0d6efd;
        text-decoration: underline;
    }

.table .col-status {
    width: 140px;
}

.table .col-actions {
    width: 90px;
}


textarea.form-control {
    resize: vertical;
}

.card-title {
    letter-spacing: 0.2px;
}

textarea.form-control {
    resize: vertical;
}

>>>>>>> 50b962d (Lagde registrar side)
