@model LoginViewModel

@{
}
<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
	<link rel="stylesheet" href="~/css/login.css" />
	<title>Log-In</title>
</head>
<body class="page-login">
<div class="container mx-auto">
	@* Logout/Success message *@
	@if (TempData["SignOutMessage"] != null)
	{
		<div id="logoutAlert" class="alert alert-success alert-dismissible fade show" role="alert">
			@TempData["SignOutMessage"]
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	}
	
	@* Registration success message *@
	@if (TempData["RegistrationSuccess"] != null)
	{
		<div id="registrationAlert" class="alert alert-success alert-dismissible fade show" role="alert">
			@TempData["RegistrationSuccess"]
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
	}
</div>
<div class="login-page">
	<div class="page-heading">
		<h1>Welcome Aboard!</h1>
		<p>Sign in to update obstacle data</p>
	</div>
	<div class="card">
		<h2>Log-in</h2>
		
		<form asp-action="Login" method="post">
			@Html.AntiForgeryToken()
			@if (!ViewData.ModelState.IsValid)
			{
				<div class="alert alert-danger">
					@foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
					{
						<div>@error.ErrorMessage</div>
					}
				</div>
			}

			<label asp-for="Username">Username:</label>
			<input asp-for="Username" placeholder="Enter username" required/>

			<label asp-for="Password">Password:</label>
			<div class="input-group mb-3">
				<input type="password" id="password" name="Password" class="form-control" placeholder="Enter password" required/>
				<span class="input-group-text" id="togglePassword" style="cursor:pointer;">
					<i class="bi bi-eye"></i>
				</span>
			</div>

			<input type="submit" value="Sign in">
		</form>

		<div class="mt-3">
			<a asp-action="UserRegister" asp-controller="Account" class="btn btn-outline-dark">Register</a>
		</div>
	</div>
</div>

@section Scripts
{
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
	<script src="~/js/login.js"></script>
}
</body>
</html>


