@model Luftfartshinder.Models.ViewModel.LoginViewModel

<!DOCTYPE html>
<html>
<head>
    <title>Log-In</title>
    <style>
        body {
            margin: 0;
            font-family: "Arial Rounded MT Bold"
        }
        .login-page {
            min-height: calc(100vh - 200px);
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .page-heading {
            text-align: center;
            margin-bottom: 30px;
        }
        .page-heading h1 {
            font-size: 2.4rem;
            font-weight: 700;
            margin: 0;
            color: #003b27;
        }
        .page-heading p {
            font-size:1.1rem;
            color: #555;
            margin-top: 15px;
        }
        form {
            display: inline-block;
            text-align: left;
        }
        input {
            margin-bottom: 10px;
        }
      .card {
        width: 380px;
          padding: 24px 28px;
          border-radius: 16px;
          background: rgba(210,235,230,0.85);
          backdrop-filter: blur(10px);
          border: 1px solid rgba(255,255,255,0.6);
          box-shadow: 0 10px 30px rgba(0,0,0,0,0.12);
        }
      .card input[type="text"],
      .card input[type="password"]{
          display: block;
          width:100%;
          margin-top: 6px;
          margin-bottom: 14px;
          padding: 10px 12px;
          border: 1px solid #dcdcdc;
          border-radius: 8px;
          outline: none;
      }
      .card input[type="text"]:focus,
      .card input[type="password"]:focus{
          border-color: #9fb9ff;
          box-shadow: 0 0 0 3px rgba(79,135,255,0.15);
      }
      .card input[type="submit"],
      .card input button[type="submit"]{
          width: 100%;
          padding: 10px 12px;
          border: none;
          border-radius: 10px;
          background: #007848;
          color: white;
          font-weight: 600;
          cursor: pointer;
      }
      .card input[type="submit"]:hover{
          background: #009c59;
      }
      .card h2{
          margin: 0 0 12px 0;
          text-align: center;
      }
    </style>
</head>
<body> 
< class="login-page">
    <div class="page-heading">
        <h1>Welcome Aboard!</h1>
        <p>Sign in to update obstacle data</p>
    </div>
    <div class="card">
<h2>Log-in</h2>
<form asp-action="Login" method="post">
    <label asp-for="Username">Username:</label>
    <input asp-for="Username" placeholder="Enter username" required />
    
    <label asp-for="Password">Password:</label>
    <input asp-for="Password" type="password" placeholder="Enter password" required />
    
    <input type="submit" value="Sign in">
</form>
</div>
</body>
</html