/* /Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

nav[b-nnup2x4dar] {
  z-index: 1000;
/*  width: 100%;*/
}

a.navbar-brand[b-nnup2x4dar] {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a[b-nnup2x4dar] {
    color: #0077cc;
}

.btn-primary[b-nnup2x4dar] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active[b-nnup2x4dar], .nav-pills .show > .nav-link[b-nnup2x4dar] {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.border-top[b-nnup2x4dar] {
    border-top: 1px solid #e5e5e5;
}

.border-bottom[b-nnup2x4dar] {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-nnup2x4dar] {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-nnup2x4dar] {
    font-size: 1rem;
    line-height: inherit;
}

.footer[b-nnup2x4dar] {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px;
}


.account-menu[b-nnup2x4dar] {
    min-width: 120px;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
}


.account-menu .dropdown-item[b-nnup2x4dar] {
    padding: 0.45rem 1rem;
    font-size: 0.9rem;
}


.account-menu .dropdown-item:hover[b-nnup2x4dar] {
    background-color: #f5f7fa;
}


.account-menu .dropdown-item.text-danger:hover[b-nnup2x4dar] {
    background-color: #fff2f2;
}


