* {
	box-sizing: border-box;
}

html {
	user-select: none;
	overflow: hidden;
	
	body {
		background-color: #222;
		width: 100vw;
		height: 100vh;
		overflow: hidden;
		position: relative;
		padding: 0;
		margin: 0;
	}
}

h1 {
	position: absolute;
	top: 30%;
	color: rgba(255, 255, 255, 0.3);
	padding: 0 1rem;
	text-align: center;
	width: 100%;
}

.wheel {
	--x: 0px;
	--y: 0px;
    --icon-radius: -40px;
	position: absolute;
	top: var(--y);
	left: var(--x);
	width: 500px;
	height: 500px;
	transform: translate(-50%, -50%);
	transform-origin: 0% 0%;

	&.on {
		.arc {
			opacity: 0.8;
			transform: scale(1) rotate(var(--rotation)) !important;
			transition-timing-function: cubic-bezier(0, 0.5, 0.5, 1.5);
			pointer-events: auto;
		}
	}

	.arc {
		position: absolute;
		top: 0;
		right: 0;
		width: 50%;
		height: 50%;
		transform-origin: 0% 100%;
		background-image: radial-gradient(circle at 0% 100%, transparent, transparent 29.5%, var(--color-border) 30%, var(--color-border) 30.5%, var(--color) 31%, var(--color) 50%, var(--color-border) 50.25%, var(--color-border) 51.5%, transparent 51.75%, transparent);
		transition-property: transform, opacity;
		transition-duration: 0.3s;
		transition-timing-function: cubic-bezier(0.4, -0.4, 0.7, -0.3);
		-webkit-clip-path: polygon(0% 100%, 100% 100%, 32.5% 0%);
        clip-path: polygon(0% 100%, 100% 100%, 32.5% 0%);
		opacity: 0;
		transform: scale(0) rotate(var(--rotation));
		pointer-events: none;
		cursor: pointer;

		i {
			position: absolute;
			top: 50%;
			left: 50%;
			font-size: 2rem;
			transform:
            translate(calc(var(--icon-radius) * 0.809),
                    calc(var(--icon-radius) * -0.588))
            rotate(calc(var(--rotation) * -1));
			color: rgba(255, 255, 255, 0.8);
			transition: color 0.3s;
		}
	}

	@for $i from 1 through 5 {
        &[data-chosen='#{$i}'] {
            .arc {
                &:nth-child(#{$i}) {
                    opacity: 1;
                    transform: scale(1.1) rotate(var(--rotation)) !important;
                    filter: brightness(150%);
                    i { color: rgba(0, 0, 0, 0.5); }
                }
            }
        }

        .arc {
            &:nth-child(#{$i}) {
            // -36° + (i-1)*72°
            --rotation: #{-18 + ($i - 1) * 72}deg;

            // hues step by 72°
            --color: hsl(#{($i - 1) * 72}deg, 36%, 60%);
            --color-border: hsl(#{($i - 1) * 72}deg, 36%, 40%);

            // gentle cascade
            transition-delay: #{0.015 * $i}s;
            }
        }
    }
}