@model Luftfartshinder.Models.ViewModel.Obstacle
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/index.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    
</head>

<body>

    <div id="map"></div>

    <div class="wheel">
        <div class="arc" data-type="punkt"><i class="fa-solid fa-genderless"></i></div>
        <div class="arc" data-type="mast"><i class="material-symbols-outlined">adjust</i></div>
        <div class="arc" data-type="linje"><i class="material-symbols-outlined"> show_chart</i></div>
        <div class="arc" data-type="luftspenn"><i class="material-symbols-outlined">diagonal_line</i></div>
        <div class="arc" data-type="flate"><i class="material-symbols-outlined">crop_square</i></div>
    </div>

    <form method="post">
        <div>
            <input type="hidden" asp-for="Longitude" id="longitude" />
            <input type="hidden" asp-for="Latitude" id="latitude" />
        </div>

        <div>
            <input type="hidden" asp-for="Type" id="obstacletype"/>
        </div>

        

    </form>

    


    @* <section>
        <h1 class="text-center">Registrer nytt hinder</h1>
        <p class="text-center">Vennligst fyll inn data om nytt hinder</p>
        <p class="text-center">Trykk på kart for plassering</p>
        <form asp-action="DataForm" method="POST" class="text-center">

            <div>
                <label asp-for="Coords">Hinder koordinater</label>
                <input asp-for="Coords" id="coords" />
            </div>

            <div>
                <label>Hinder navn</label>
                <input asp-for="Name" />
            </div>

            <div>
                <label>Hinder høyde</label>
                <input asp-for="Height" />
            </div>

            <div>
                <label>Hinder beskrivelse</label>
                <input asp-for="Description" />
            </div>

            <button id="btnSubmit" type="submit">Ferdig</button>
        </form>
    </section> *@


    <script src="~/js/map.js" defer></script>
</body>