@model Luftfartshinder.Models.ViewModel.ViewObstacleDataModel
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="~/css/index.css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script src="https://kit.fontawesome.com/53d2400da6.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
</head>

<body>

    <div id="map"></div>

    <div class="wheel">
        <div class="arc"><i class="fa-solid fa-genderless"></i></div>
        <div class="arc"><i class="material-symbols-outlined">adjust</i></div>
        <div class="arc"><i class="material-symbols-outlined"> show_chart</i></div>
        <div class="arc"><i class="material-symbols-outlined">diagonal_line</i></div>
        <div class="arc"><i class="material-symbols-outlined">crop_square</i></div>
    </div>

    <section>
        <h1 class="text-center">Registrer nytt hinder</h1>
        <p class="text-center">Vennligst fyll inn data om nytt hinder</p>
        <p class="text-center">Trykk på kart for plassering</p>
        <form asp-action="DataForm" method="POST" class="text-center">

            <div>
                <label asp-for="ViewObstacleCoords">Hinder koordinater</label>
                <input asp-for="ViewObstacleCoords" id="coords" />
            </div>

            <div>
                <label>Hinder navn</label>
                <input asp-for="ViewObstacleName" />
            </div>

            <div>
                <label>Hinder høyde</label>
                <input asp-for="ViewObstacleHeight" />
            </div>

            <div>
                <label>Hinder beskrivelse</label>
                <input asp-for="ViewObstacleDescription" />
            </div>

            <button id="btnSubmit" type="submit">Ferdig</button>
        </form>
    </section>


    <script src="~/js/map.js"></script>
</body>