@using Microsoft.AspNetCore.Identity
<h1>Welcome Superadmin</h1>


@if (TempData["RegistrationSuccess"] != null)
{
    <div id="registerAlert" class="alert alert-success alert-dismissible fade show" role="alert">
        @TempData["RegistrationSuccess"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="d-flex justify-content-center align-items-start gap-5 mt-5 flex-wrap">
    
    <a asp-controller="SuperAdmin" asp-action="List" class="text-decoration-none text-dark">
        <div class="card shadow-lg border-0" style="width: 20rem;">
            <img src="~/images/admin-dashboard.jpg" class="card-img-top" alt="">
            <div class="card-body text-center">
                <h5 class="card-title fw-bold">Manage Users</h5>
                <p class="card-text">An overview of all users.</p>
            </div>
        </div>
    </a>

            
    <a asp-controller="Account" asp-action="Register" class="text-decoration-none text-dark">
        <div class="card shadow-lg border-0" style="width: 20rem;">
            <img src="~/images/admin-dashboard.jpg" class="card-img-top" alt="">
            <div class="card-body text-center">
                <h5 class="card-title fw-bold">Register Users</h5>
                <p class="card-text">Make new users.</p>
            </div>
        </div>
    </a>
</div>
