@using Luftfartshinder.Models.ViewModel.Obstacles
@model List<SessionObstacleDraft>

@{
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<h2>Obstacle Report (@Model.Count)</h2>
<div class="container mt-3 overflow-auto">
    
</div>